
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

body{
background-color: #0e061a;
}

.text {
  padding: 16px 87px 36px 48px;
   min-height: 140px;
  box-sizing: border-box;
 
}
.text1 {
  padding: 16px 87px 36px 48px;
   min-height: 140px;
  box-sizing: border-box;
  border-radius: 5px;
}
.text2 {
  padding: 16px 87px 36px 48px;
   min-height: 140px;
  box-sizing: border-box;
  border-radius: 5px;
}
.text3 {
  padding: 16px 87px 36px 48px;
   min-height: 140px;
  box-sizing: border-box;
  border-radius: 5px;
}
.text:hover{
  cursor: pointer;
  box-shadow: 10px 3px 15px rgba(10, 71, 71, 0.1);
}
.text{
  background: rgba(44, 18, 80, 1);

}
.text1{
  background: linear-gradient(95.56deg, #130428 0.58%, #251043 16.32%, #38126D 29.33%, #261045 45.66%, #190634 54.44%);

}
.text2{
  background: linear-gradient(95.56deg, #130428 0.58%, #251043 16.32%, #38126D 29.33%, #261045 45.66%, #190634 54.44%);

}
.text3{
  background: linear-gradient(149.88deg, #130428 37.22%, #251043 70.43%, #38126D 97.89%, #261045 132.38%, #190634 150.9%);

}
 .text0{
  color: rgba(152, 87, 211, 1);

 }
 .containtr{
  background: radial-gradient(90.16% 143.01% at 15.32% 21.04%, rgba(105, 59, 147, 0.2) 0%, rgba(110, 191, 244, 0.0447917) 77.08%, rgba(70, 144, 213, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;

 }
 .div1{
  background: rgba(24, 24, 35, 1);

 }


 .img{
  border:  1px solid rgba(91, 104, 118, 1);
 }


.container{
  @apply max-w-[1440px]  mx-auto
  md:px-16 px-7;
  /* max-width: 1440px;
  width: 100%;
  margin-left: auto;
  margin-right: auto; */
}